CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
build/*
results/*

main
.o
obj/
src/*.o

.vscode

.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

**/.DS_Store
lot49
lot49.log
